<template name="chats">
	<div class="container">
		<div class="row">
			{{> ReactiveDatatable tableData=tableData options=tableOptions }}
		</div>
	</div>
</template>

<template name="chatsToolbar">
	<div id="datatable_length" class="dataTables_length">
		<a id="today">Today</a>
		<a id="week">This Week</a>
		<a id="month">This Month</a>
		<a id="year">This Year</a>
	</div>
</template>

<template name="chatsLegend">
	<div class="dataTables_paginate" id="datatable_paginate">
		<span class="legendPill"></span>
	</div>
</template>
